@import "../fragments/base.css";
@import "../fragments/header.css";
@import "../fragments/message.css";
@import "../fragments/footer.css";

.main .content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .content .title {
    display: flex;
    flex-direction: row;
    background-color: var(--dark-black);
    width: 80%;
    padding: 8px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.main .content .title span {
    font-size: 40px;
    color: var(--white);
}

.main .formLogin img {
    width: 200px;
}

.main .formLogin {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    padding-top: 10px;
    margin: 30px 0;
    box-sizing: border-box;
    background-color: var(--dark-black);
    border-radius: 10px;
}

.main .formLogin .formLoginItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-top: 20px;
}

.main .formLogin .formLoginItems .formLoginItem {
    font-size: 25px;
    margin: 10px 0;
    padding: 10px;
    background-color: var(--light-blue);
    color: var(--white);
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

.main .formLogin .formLoginItems .formLoginItem::placeholder {
    color: var(--white);
}

.main .formLogin .formLoginItems .formLoginButton {
    background-color: var(--green);
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
    color: var(--white);
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    transition: transform var(--delay-short-animation);
}

.main .formRegister .formRegisterItems .formRegisterButton:hover {
    transform: scale(1.1);
}