<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/registration/login.css}">
</head>
<body>
<div th:replace="/fragments/header::header"></div>

<div class="main">
    <div th:replace="/fragments/message::message"></div>

    <div class="content">
        <div class="title">
            <span>Login</span>
        </div>
        <div class="formLogin">
            <img th:src="@{/img/gif/bulbizar_1.gif}"/>
            <form th:action="@{/login}" method="post" th:object="${user}">
                <div class="formLoginItems">
                    <input class="formLoginItem" type="text" id="username" name="username" placeholder="Username" required="" autofocus="">
                    <input class="formLoginItem" type="password" id="password" name="password" placeholder="Password" required="" autofocus="">
                    <button class="formLoginButton" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="/fragments/footer::footer"></div>
</body>
</html>

