@import "fragments/base.css";
@import "fragments/header.css";
@import "fragments/message.css";
@import "fragments/footer.css";

.main .content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .content .title {
    display: flex;
    flex-direction: row;
    background-color: var(--dark-black);
    width: 80%;
    padding: 8px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.main .content .title img {
    width: 150px;
    margin-left: 10px;
}

.main .content .title span {
    font-size: 40px;
    color: var(--white);
}

.main .content .items {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
}

.main .content .items #ul-main-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: -webkit-fill-available;
}

.main .content .items #ul-main-item li {
    display: flex;
    height: 150px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: background-color var(--delay-short-animation);
    -webkit-transition: background-color var(--delay-short-animation);
}

.main .content .items #ul-main-item .connect-item {
    background-color: var(--blue);
}

.main .content .items #ul-main-item .game-item {
    background-color: var(--dark-black);
}

.main .content .items #ul-main-item li:hover {
    background-color: var(--green);
}

.main .content .items #ul-main-item li a {
    font-size: 40px;
    color: var(--white);
}

.main .content .items #ul-main-item li img {
    width: 100px;
    margin-left: 20px;
    padding-bottom: 20px;
}

/*
    Footer section
 */
