@import "fragments/base.css";
@import "fragments/header.css";
@import "fragments/error.css";
@import "fragments/footer.css";

.main .content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .content .title {
    display: flex;
    flex-direction: row;
    background-color: var(--dark-black);
    width: 80%;
    padding: 8px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.main .content .title span {
    font-size: 40px;
    color: var(--white);
}

.main .formRegister img {
    width: 200px;
}

.main .formRegister {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    padding-top: 10px;
    margin: 30px 0;
    box-sizing: border-box;
    background-color: var(--dark-black);
    border-radius: 10px;
}

.main .formRegister .formRegisterItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-top: 20px;
}

.main .formRegister .formRegisterItems .formRegisterItem {
    font-size: 25px;
    margin: 10px 0;
    padding: 10px;
    background-color: var(--light-blue);
    color: var(--white);
    border-radius: 10px;
}

.main .formRegister .formRegisterItems .formRegisterItem::placeholder {
    color: var(--white);
}

.main .formRegister .formRegisterItems .formRegisterButton {
    width: 370px;
    background-color: var(--green);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
    color: var(--white);
}
