:root {
    --white: #ffffff;
    --black: #292929;
    --dark-black: #191919;
    --light-blue: #4752c4;
    --blue: #3c45a5;
    --orange: #f8c555;
    --green: #4f9d70;
    --grey: #777777;
    --red: #BD1616;
    --light-red: #FF2626;
    --light-pink: #FFE6E6;
    --top-height: 80px;
    --delay-short-animation : 0.5s;
    --delay-medium-animation : 1s;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    margin: 0;
    padding: 0;
    font-family: Friz Quadrata Std,Mobilo,Helvetica,Arial;
    color: var(--white);
    min-height: 100%;
}

ul, li, a, a:hover {
    all: initial;
}

/*
    Top bar
 */

.top {
    background: var(--light-blue);
    height: var(--top-height);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.top .name {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: available;
    width: -webkit-fill-available;
    justify-content: left;
}

.top .name .content {
    padding-left: 10px;
    font-size: 50px;
}

.top .connect {
    display: flex;
    align-items: flex-start;
    width: available;
    width: -webkit-fill-available;
    justify-content: right;
}

.top .connect #ul-top-connect {
    padding: 5px 5px 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top .connect #ul-top-connect li {
    display: flex;
    background-color: var(--blue);
    margin: 5px;
    border-radius: 3px;
    transition: background-color var(--delay-short-animation);
    -webkit-transition: background-color var(--delay-short-animation);
}

.top .connect #ul-top-connect li a {
    font-size: 25px;
    color: var(--white);
    padding: 8px;
}

.top .connect #ul-top-connect li:hover {
    background-color: var(--green);
}

.top .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.top .menu #ul-top-menu {
    display: flex;
    flex-direction: row;
    padding: 10px 10px 0 10px;
    align-items: flex-end;
}

.top .menu #ul-top-menu li {
    display: flex;
    background-color: var(--black);
    border-radius: 5px 5px 0 0;
    transition: background-color var(--delay-short-animation), padding-bottom var(--delay-medium-animation);
    -webkit-transition: background-color var(--delay-short-animation), padding-bottom var(--delay-medium-animation);
    margin: 0 5px;
}

.top .menu #ul-top-menu li a {
    font-size: 40px;
    color: var(--white);
    padding: 0 10px;
}

.top .menu #ul-top-menu li:hover {
    background-color: var(--green);
    padding-bottom: 15px;
}

/*
    Responsive part for top bar
 */
@media screen and (max-width: 500px) {
    .top .name {
        display: none;
    }

    .top .connect #ul-top-connect {
        flex-direction: column;
    }

    .top .connect #ul-top-connect li {
        width: 65px;
        justify-content: center;
    }

    .top .connect #ul-top-connect li a {
        font-size: 15px;
        padding: 2px;
    }
}


/*
    Main error section
 */

.main .error {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.main .error #ul-main-error {
    display: flex;
    flex-direction: column;
    padding: 3px 5px;
    width: 80%;
    max-width: 600px;
    align-items: center;
}

.main .error #ul-main-error:empty {
    display: none;
}

.main .error #ul-main-error li {
    display: flex;
    background-color: var(--light-pink);
    margin: 2px 0;
    border-radius: 5px;
    width: -webkit-fill-available;
}

.main .error #ul-main-error li span {
    color: var(--red) ;
    font-size: 20px;
    padding: 3px;
}

/*
    Main content section
 */

.main .content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .content .title {
    display: flex;
    flex-direction: row;
    align-content: center;
    background-color: var(--dark-black);
    width: 80%;
    padding: 8px;
    border-radius: 10px;
    align-content: center;
}

.main .content .title img {
    width: 150px;
    margin-left: 10px;
}

.main .content .title span {
    font-size: 40px;
    color: var(--white);
}

.main .content .items {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
}

.main .content .items #ul-main-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: -webkit-fill-available;
}

.main .content .items #ul-main-item li {
    display: flex;
    height: 150px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: background-color var(--delay-short-animation);
    -webkit-transition: background-color var(--delay-short-animation);
}

.main .content .items #ul-main-item .connect-item {
    background-color: var(--blue);
}

.main .content .items #ul-main-item .game-item {
    background-color: var(--dark-black);
}

.main .content .items #ul-main-item li:hover {
    background-color: var(--green);
}

.main .content .items #ul-main-item li a {
    font-size: 40px;
    color: var(--white);
}

.main .content .items #ul-main-item li img {
    width: 100px;
    margin-left: 20px;
    padding-bottom: 20px;
}

/*
    Footer section
 */

.foot {
    display: flex;
    background-color: var(--grey);
    justify-content: center;
    margin-top: auto;
}

.foot .content {
    padding: 5px 20px;
    display: flex;
    flex-wrap: wrap;
    color: var(--dark-black);
    font-size: 20px;
}

.foot .content .italic {
    padding: 0 4px;
    font-style: italic;
}