<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Page d'accueil</title>
    <link rel="stylesheet" th:href="@{/css/classicGame.css}">
</head>
<body>
<div th:replace="/fragments/header::header"></div>

<div class="main">

    <div th:replace="/fragments/error::error"></div>

    <div class="content">
        <div class="title">
            <span>Trouver le pokemon du jour !</span>
        </div>
        <div class="game">
            <div class="search">
                <input list="datalist-pokemons" type="text" id="select_pokemon">

                <datalist id="datalist-pokemons" >
                    <option value="poke1">
                    <option value="poke2">
                    <option value="poke3">
                    <option value="poke4">
                </datalist>

                <button type="button" onclick="tryPokemon()">Essayer</button>
            </div>
        </div>
    </div>
</div>


<div th:replace="/fragments/footer::footer"></div>
</body>
</html>