<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Page d'accueil</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="top">
        <div class="name">
            <span class="content">Pokedle</span>
        </div>
        <div class="menu">
            <ul id="ul-top-menu">
                <li><a href="/classicGame">Classic</a></li>
                <li><a href="/multiplayerGame">Multiplayer</a></li>
            </ul>
        </div>
        <div class="connect">
            <ul id="ul-top-connect">
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </div>
    </div>

    <div class="main">
        <div class="error">
            <ul id="ul-main-error">
                <li><span>Erreur, impossible de se connecter !</span></li>
                <li><span>Erreur, database inaccessible !</span></li>
            </ul>
        </div>
        <div class="content">
            <div class="title">
                <span>Bonjour Michel ravie de vous revoir !</span>
                <img th:src="@{/img/gif/canarticho_1.gif}"/>
            </div>
            <div class="items">
                <ul id="ul-main-item">
                    <li class="connect-item">
                        <a href="/login">Login</a>
                        <img th:src="@{/img/gif/rondoudou_1.gif}"/>
                    </li>
                    <li class="connect-item">
                        <a href="/register">Register</a>
                        <img th:src="@{/img/gif/ratata_1.gif}"/>
                    </li>
                    <li class="game-item"><a href="/classicGame">Classic</a></li>
                    <li class="game-item"><a href="/infoPoke">Info Poké</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="foot">
        <div class="content">
            Tout droit des images réservé à <span class="italic">The Pokémon Company</span>. <span class="italic">The Pokémon Company</span> n'approuve en rien ni ne parraine ce projet.
        </div>
    </div>
</body>
</html>